main {
  display: flex;
  flex-direction: column;
  align-items: center;

  & mat-card {
    margin: 1rem;
    padding: 1rem;

    & .avatar {
      width: 10rem;
      height: 10rem;
      border-radius: 100%;
      border: 1px solid;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin: 1rem auto;
    }

    & h2 {
      margin-bottom: 0;
    }
  }

  & .mat-elevation-z8 {
    width: 90%;
    margin-bottom: 1rem;
  }
}