<main>
  <mat-card>
    <div class="avatar" [ngStyle]="{'background-image': 'url(' + $user.data?.avatar_url + ')'}"></div>
    <div class="p">
      <h2><b>{{$user.data?.name}}</b></h2>
      <h4>{{$user.data?.login}}</h4>
      <p>{{$user.data?.bio}}</p>
      <a [href]="$user.data?.html_url" target="_blank">Profile on Github</a>
      <p>Since: {{formatDate($user.data?.created_at)}}</p>
    </div>
  </mat-card>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id. </th>
        <td mat-cell *matCellDef="let element"> {{element?.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element?.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef> Url </th>
        <td mat-cell *matCellDef="let element"> <a [href]="element?.url" target="_blank">{{element?.url}}</a> </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator 
      showFirstLastButtons
      aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</main>
